@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


a {
    text-decoration: none;
    color:#000000;
    cursor: pointer;
  }

.devices {
    width: 100%;
}

.device-header{
    display: grid;
    grid-template-columns: 4fr 8fr 8fr 8fr;
    padding-left: 6em;
    padding-right: 6em;
    margin: 1.6em 11em;
    border-bottom-style: inset;
    border-color:#DEDFE1;
}

.device-header__devices {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #BDBDBD;
}

.device-header__line {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color:#000000;
    font-weight: bold;
}

.device-header__name {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color:#000000;
    font-weight: bold;
}

.list-devices {
    margin: 1em 8em;
    padding: 0em 8em;
    display: grid;
    grid-template-columns: 3fr 8fr 8fr 8fr;
    border-bottom-style: inset;
    border-color:#DEDFE1;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}


.list-devices:hover {
    border-color:#838691;
}

@media only screen and (max-width: 600px) {
    .devices {
        width: auto;
    }

    .device-header {
        text-align: center;
        grid-template-columns: 2fr 2fr 4fr;
        padding-left: 0em;
        padding-right:  0em;
        margin: 1em;
    }

    .list-devices {
        grid-template-columns: 2fr 2fr 3fr; 
        margin: .5em;
        padding: 0em;
    }

}


@media only screen and (min-width: 601px) and (max-width: 900px){
    .devices {
        width: auto;
    }

    .device-header {
        text-align: center;
        grid-template-columns: 2fr 4fr 8fr;
        padding-left: 1em;
        padding-right:  0em;
        margin: 1em;
    }

    .list-devices {
        grid-template-columns: 2fr 4fr 3fr; 
        margin: 0em 1em;
        padding: 0em;
    }
}

