@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.navbar {
    width: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #D6D9E2;
    color: #838691;
    font-family: 'Lato', sans-serif;
}

.navbar__logo-title {
    display: flex;
}

.navbar__logo {
    height: 48px;
}

.navbar__title {
 margin-left: .8rem;
 font-size: 28px;
 margin-top: .2em;
} 

.navbar__author {
    margin-right: .8rem;
    font-size: 24px;
    margin-top: .3em;
    color: #838691;
}



@media only screen and (max-width: 600px) {
    .navbar__title {
        font-size: 18px;
       } 
       
       .navbar__author {
            margin-right: .2rem;
           font-size: 18px;
       }

}